
$primary-color:#00F6FF; 
$secondary-color:#00AEEE;
$tertiary-color: #000066; 


$white-color: #ffffff;
$black-color: #000000;
$light-gray: #ecf0f1;
$dark-gray: #95a5a6;

// Background colors
$background-color: #0E6BFF;      // Light background
$dark-background: #222222; // Dark background

// Text colors
$text-primary: #333333;
$text-secondary: #7f8c8d;

// Border and highlight colors
$border-color: #bdc3c7;
$highlight-color: #f39c12;  // Yellow
