.showModalComponent {
    form {
      max-width: 35rem;
  
      button {
        align-items: center;
        width: 50%;
      }
      label {
        text-align: start;
        padding-top: 0.5rem;
      }
    }
    .formModalComponent {
      width: 40rem;
    }
  }